
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/singup.cshtml";
}

<h1 class="error">Allied Login Form</h1>
<div class="w3layouts-two-grids">
    <div class="mid-class">
        <div class="txt-left-side">
            <h2> Login Here </h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget</p>
            <form action="#" method="post">
                <div class="form-left-to-w3l">
                    <span class="fa fa-envelope-o" aria-hidden="true"></span>
                    <input type="email" name="email" placeholder="Email" required="">

                    <div class="clear"></div>
                </div>
                <div class="form-left-to-w3l ">

                    <span class="fa fa-lock" aria-hidden="true"></span>
                    <input type="password" name="password" placeholder="Password" required="">
                    <div class="clear"></div>
                </div>
                <div class="main-two-w3ls">
                    <div class="left-side-forget">
                        <input type="checkbox" class="checked">
                        <span class="remenber-me">Remember me </span>
                    </div>
                    <div class="right-side-forget">
                        <a href="#" class="for">Forgot password...?</a>
                    </div>
                </div>
                <div class="btnn">
                    <button type="submit">Login </button>
                </div>
            </form>
            <div class="w3layouts_more-buttn">
                <h3>
                    Don't Have an account..?
                    <a href="#">
                        Register Here
                    </a>
                </h3>
            </div>

        </div>
        <div class="img-right-side">
            <h3>Welcome To Allied Login Form</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget</p>
            <img src="images/b11.png" class="img-fluid" alt="">
        </div>
    </div>
</div>
<footer class="copyrigh-wthree">
    <p>
        © 2019 Allied Login Form. All Rights Reserved | Design by
        <a href="http://www.W3Layouts.com" target="_blank">W3Layouts</a>
    </p>
</footer>