@{
    ViewData["Title"] = "Home Page";
    
    }

<!---728x90--->

    


<h1 class="error">Medi Care</h1>
        <div class="w3layouts-two-grids">
            <!---728x90--->
            <div class="mid-class">
                <div class="img-right-side">
                    <h3>About</h3>

                    <p>
                        One contribution change the world .Work for human, Work for Nation.
                    </p>




                </div>
                <div class="txt-left-side">
                    <h2> Sign In </h2>
                    <form action="#" method="post">

                        <div class="form-left-to-w3l">
                            <span class="fa fa-envelope-o" aria-hidden="true"></span>
                            <input type="email" name="email" placeholder="Email" required="">

                            <div class="clear"></div>
                        </div>
                        <div class="form-left-to-w3l ">

                            <span class="fa fa-lock" aria-hidden="true"></span>
                            <input type="password" name="password" placeholder="Password" required="">
                            <div class="clear"></div>
                        </div>
                        <div class="main-two-w3ls">
                            <div class="left-side-forget">
                                <input type="checkbox" class="checked">
                                <span class="remenber-me">Remember me </span>
                            </div>
                            <div class="right-side-forget">
                                <a href="#" class="for">Forgot password...?</a>
                            </div>
                        </div>
                        <div class="btnn">
                            <button type="submit" >Sign In </button>
                        </div>
                    </form>
                    <div class="w3layouts_more-buttn">
                        <h3>
                            <a asp-area="" asp-controller="DoctorsDetails" asp-action="Index">
                                </i>  Don't Have an account..?
                            </a>
                        </h3>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <!---728x90--->
        <footer class="copyrigh-wthree">
            <p>
                © 2019 medi_care| Design by
                <a href="https://adiroysn1.wixsite.com/suhartodas" target="_blank">Suharto Das</a>
            </p>
        </footer>
