@model madicare.Models.Patient

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Patient</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="pid" />
            <div class="form-group">
                <label asp-for="pname" class="control-label"></label>
                <input asp-for="pname" class="form-control" />
                <span asp-validation-for="pname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pphone" class="control-label"></label>
                <input asp-for="pphone" class="form-control" />
                <span asp-validation-for="pphone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="paddress" class="control-label"></label>
                <input asp-for="paddress" class="form-control" />
                <span asp-validation-for="paddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pgender" class="control-label"></label>
                <input asp-for="pgender" class="form-control" />
                <span asp-validation-for="pgender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pweight" class="control-label"></label>
                <input asp-for="pweight" class="form-control" />
                <span asp-validation-for="pweight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="phight" class="control-label"></label>
                <input asp-for="phight" class="form-control" />
                <span asp-validation-for="phight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pbmi" class="control-label"></label>
                <input asp-for="pbmi" class="form-control" />
                <span asp-validation-for="pbmi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pbmr" class="control-label"></label>
                <input asp-for="pbmr" class="form-control" />
                <span asp-validation-for="pbmr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pbp" class="control-label"></label>
                <input asp-for="pbp" class="form-control" />
                <span asp-validation-for="pbp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pdate_of_brith" class="control-label"></label>
                <input asp-for="pdate_of_brith" class="form-control" />
                <span asp-validation-for="pdate_of_brith" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ppassword" class="control-label"></label>
                <input asp-for="ppassword" class="form-control" />
                <span asp-validation-for="ppassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

